
*.asv
*.eps
.DS_Store
.DS_Store
4_example/.DS_Store
4_example/case_study_1.0/.DS_Store
.DS_Store
.DS_Store
.DS_Store
3_source/.DS_Store
3_source/4_rhs/.DS_Store
3_source/4_rhs/1_volumetricFlowRates/1_adsorber_boundaries/.DS_Store
4_example/.DS_Store
4_example/.DS_Store
4_example/case_study_1.0/.DS_Store
4_example/case_study_1.0/2_simulation_outputs/.DS_Store
